# globbing wildcards OK
# preceeding ! works
# trailing / signifies entire directory
# comments like this one and blank lines ignored
#
# compiled source code
# compressed files and archives
# logs and databases
# operating systemm files
# user uploaded assets

tempfile.txt
tempfile2.txt
.DS_Store
*.zip
*.gz
log/*.log
log/*.log.[0-9]
assets/photoshop/
!assets/videos/tour_*.mp4
*~
