# globbing wildcards OK
# preceeding ! works
# trailing / signifies entire directory
# comments like this one and blank lines ignored

tempfile.txt
.DS_Store
*.zip
*.gz
log/*.log
log/*.log.[0-9]
assets/photoshop/
!assets/videos/tour_*.mp4
*~
